@page "/gatewaytospace"

@using SpaceOut.BusinessLogicLayer.Models.DTOs.NasaApi;
@using SpaceOut.BusinessLogicLayer.Services;

@inject NasaService nasaService

<PageTitle>Gateway To Space</PageTitle>

<h1>Welcome To Your Gateway To Space</h1>

<EditForm Model="@apodRequestDto" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Start Date:
            <InputDate @bind-Value="apodRequestDto.StartDate" />
        </label>
    </p>

    <p>
        <label>
            End Date:
            <InputDate @bind-Value="apodRequestDto.EndDate" />
        </label>
    </p>

    <p>
        <label>
            Count:
            <InputNumber @bind-Value="apodRequestDto.Count" />
        </label>
    </p>

    <p>
        <label>
            Thumbs:
            <InputCheckbox @bind-Value="apodRequestDto.Thumbs" />
        </label>
    </p>

    <button type="submit">Submit</button> 
</EditForm>

@if (apodResponseDto is not null)
{
    <p>Copyright: @apodResponseDto.Copyright</p>
    <p>Date: @apodResponseDto.Date.Date.ToShortDateString()</p>
    <p>Explanation: @apodResponseDto.Explanation</p>
    <p>HD Url: @apodResponseDto.HdUrl</p>
    <p>Url: @apodResponseDto.Url</p>
    <p>Media Type: @apodResponseDto.Media_Type</p>
    <p>Service Version: @apodResponseDto.Service_Version</p>
    <p>Title: @apodResponseDto.Title</p>
    <p>Image: <img src="@apodResponseDto.Url" /></p>
}

@code {
    private ApodRequestDto apodRequestDto = new ApodRequestDto() { StartDate = DateTime.Now };
    private ApodResponseDto? apodResponseDto = null;

    private async Task HandleValidSubmit()
    {
        // Do further validation

        // If all is well. Process the valid form
        apodResponseDto = await nasaService.GetApod(apodRequestDto);
    }
}
